[submodule "pelican/theme"]
	path = pelican/theme
	url = https://github.com/pR0Ps/pelican-subtle.git
[submodule "out/gh-i2p"]
	path = out/gh-i2p
	url = https://github.com/pR0Ps/gh-i2p.git
[submodule "dehydrated"]
	path = dehydrated
	url = https://github.com/lukas2511/dehydrated.git
